.root {
    -fx-background-color: #552E00;
}

.button {
    -fx-border-color: #27556C;
    -fx-border-width: 2px;
}

.text-field {
    -fx-border-color: #6E91A1;
    -fx-border-width: 2px;
}

.table-view {
    -fx-border-color: #467286;
    -fx-border-width: 2px;
}

.split-pane {
    -fx-background-color: #804E15;
}

.split-pane-divider {
    -fx-background-color: #6E91A1;
}

.combo-box {
    -fx-border-color: #6E91A1;
    -fx-border-width: 2px;
    -fx-pref-width: 850px;
}

.menu-bar {
    -fx-background-color: #AA7539;
}

.menu-item {
    -fx-background-color: #D4A36A;
}

.menu-item:focused {
    -fx-background-color: #969A9F;
}

.split-menu-button {
    -fx-background-color: #FFD8AA;
}

.label {
    -fx-text-fill: black;
}

.radio-button {
    -fx-text-fill: white;
}

.rootLabel {
    -fx-text-fill: white;
}